.axis text {
	font-family: sans-serif;
	font-size: 13px;
	fill: darkgray;
}
.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: gray;
  opacity:0.2;
  stroke-dasharray: 5,5;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line{
  stroke: gray;
  opacity:0.2;
  stroke-dasharray: 3,3;
}

.y.axis path {
  display: none;
}