<html>

<head>
<title>Welcome</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body.about {
    background-color: white;
  }
  div.transbox {
    margin-right: 5%;
    margin-left: 5%;
    padding:5%;
    background-color: whitesmoke;
    opacity:1;
    border-radius: 25px;
  }

  div.transbox p {
    margin: 5%;
    color: #000000;
    opacity: 1;
  }

  div.action {
    margin: 5%;
    padding: 5%;
    background-color: whitesmoke;
    opacity:1;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;

  }

  div.action p {
    margin: 15%;
    font-weight: bold;
    color: #000000;
    opacity: 1;
  }
  .button {
    background-color: steelblue;
    border: 2px solid steelblue;
    border-radius: 15px;
    color: white;
    margin-left: 5%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button:hover{
    background-color: white;
    border: 2px solid steelblue;
    border-radius: 15px;
    color: black;
  }
  .column {
    float: left;
    width: 33.33%;
  }
  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
  }

  div.anchor{
   position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   background:lightsteelblue;
  }
</style>
</head>

<body class = "about">
<div style="margin-right:15%; margin-left:15%">
<div class="transbox">
  <h1 style="color:steelblue;">About PISA </h1>
  <ul>
  <li> The pandemic influenza severity assessment tool (hereby referred to as PISA), is used to
describe the severity of influenza in seasonal epidemics and pandemics, when influenza viruses
are spreading from one person to another. It compares current influenza activity to that of the
past in order to judge the severity of the current influenza season or pandemic. This
assessment could help countries decide on what measures to put in place to control an
influenza epidemic or pandemic. A more severe influenza pandemic may require more urgent
and intense response measures compared to a less severe influenza pandemic.</li>
<li>PISA is an important use of routine surveillance data and relies on the qualitative assessments
of three indicators to assess the severity of influenza epidemics. These indicators are:
transmissibility, seriousness of disease and impact (see below for more information).</li>
<li>At the national level, countries compare their current data with their historical data to make
qualitative assessments on severity as it compares to previous epidemics and pandemics within
the country. This helps to determine the timing, scale, emphasis, intensity and urgency of
response actions. In addition to the severity assessment, it is important that countries also
determine how confident they are in the assessment. It is likely that early assessments may be
associated with less certainty than later assessments conducted with more data and
experience. </li>
<li>When countries share their assessment with WHO, they contribute to a global assessment of
severity and can inform global risk assessments and decisions on vaccine recommendations
and other public health interventions. </li> </ul>
</div>
<br>
<div class="transbox">
  <h1 style="color:steelblue;">Definitions of Indicators </h1>
  <ul>
    <li><strong>Transmissibility:</strong> The transmissibility indicator reflects the ease of movement
of the influenza virus between individuals and communities. Thus, a virus with
high transmissibility will spread rapidly from one person to another. Several
factors affect transmissibility: the ability of the virus to spread from person to
person, the dynamics of the spread and the susceptibility of the exposed
population.  </li>
    <li><strong>Seriousness:</strong> The seriousness of disease (also referred to as “severity of
infection”) indicator describes the extent to which individual people get sick
when infected with the influenza virus. It describes the frequency of clinical
symptoms, complications of influenza illness and outcomes following influenza
infection.  </li>
    <li><strong>Impact:</strong> The impact indicator generally describes how the influenza epidemic
or pandemic affects society. It represents the impact on the health-care sector;
for example, the impact on health-care use (hospitalization and ICU
admissions), on the health-care workforce and on society (including excess
mortality). The impact will be affected by the implementation of public health
measures, public concern and the behaviour of the affected population.  </li>
  </ul>
</div>

<br>
<div class = "transbox">
  <h1 style="color:steelblue;"> How can I learn more about PISA? </h1>
  <p> Visit WHO&#39;s PISA website <a href = "http://www.who.int/influenza/surveillance_monitoring/pisa/en/"> here </a> </p>
</div>
<br>
<div class = "transbox">
  <h1 style="color:steelblue;"> About the PISA App </h1>
  <ul>
  <li> <a href="pisa_app_user_guide.html" download> User Manual </a> </li>
  <li> Software: The toolkit was developed usingR: A Language and Environment for
Statistical Computing andshiny: Web Application Framework for R.</li>
  <li> Versions: August 2018 - Version 1.0, Initial launch for authenticated users.</li>
  <li> i.	Your use of this app is subject to its <a href="terms_of_use.doc" download> Terms of Use </a></li>
  <li> Contact <a href="mailto:WHOinfluenza@who.int">  WHOinfluenza@who.int </a> with any questions or comments</li>
  <li> Acknowledgements
    <ul>
    <li> The final application was developed by Ryan Morton of Morton Analytics. </li>
    <li> Guidance and technical support were provided by Phillipe Boucher, Ahmad Reza Hosseinpoor, Bikram Maharjan, Liliana Pievaroli and Chris Tantillo (World Health Organization, Geneva, Switzerland). Kenneth Piercy (World Health Organization, Geneva, Switzerland) prepared the Terms of Use and Software License Agreement.</li> </ul>
  </li>
  </ul>
</div>
</div>

</body>
</html>
